In [4]:
import pandas as pd

In [5]:
pokemon_data = pd.read_csv("pokemon.csv")

In [17]:
def data():
    pokemon_data = pd.read_csv("pokemon.csv")
    return pokemon_data

In [7]:
pokemon_data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
pokemon_data.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [12]:
#diviser par génération
#151 premiers Pokémon dont quatre légendaires et un fabuleux ;

g1 = pokemon_data[pokemon_data["#"] < 152]

#la deuxième introduit 100 espèces dont cinq légendaires et un fabuleux ;

g2 = pokemon_data[(pokemon_data["#"] > 151) & (pokemon_data["#"] < 252)]


#la troisième introduit 135 espèces dont huit légendaires et deux fabuleux ;

g3 = pokemon_data[(pokemon_data["#"] > 251) & (pokemon_data["#"] < 387)]

#la quatrième introduit 107 espèces dont neuf légendaires et cinq fabuleux ;

g4 = pokemon_data[(pokemon_data["#"] > 386) & (pokemon_data["#"] < 494)]

#la cinquième introduit 156 espèces dont neuf légendaires et quatre fabuleux ;

g5 = pokemon_data[(pokemon_data["#"] > 493) & (pokemon_data["#"] < 650)]

#la sixième introduit 72 espèces dont trois légendaires et trois fabuleux ;

g6 = pokemon_data[(pokemon_data["#"] > 649) & (pokemon_data["#"] < 722)]

#la septième introduit 88 espèces dont onze légendaires, cinq fabuleux et onze Ultra-Chimèresnote 3 ;

g7 = pokemon_data[(pokemon_data["#"] > 721) & (pokemon_data["#"] < 810)]

#la huitième introduit 89 nouvelles espèces dont dix légendaires et un fabuleuxnote 4. Elle introduit également 7 nouvelles espèces au travers du jeu Légendes Pokémon : Arceus se déroulant à Hisui ;

g8 = pokemon_data[(pokemon_data["#"] > 809) & (pokemon_data["#"] < 906)]

#la neuvième introduit actuellement 116 nouvelles espèces.

g9 = pokemon_data[(pokemon_data["#"] > 905)]

In [18]:
def gen(n):
    pokemon_data = pd.read_csv("pokemon.csv")
    g1 = pokemon_data[pokemon_data["#"] < 152]
    g2 = pokemon_data[(pokemon_data["#"] > 151) & (pokemon_data["#"] < 252)]
    g3 = pokemon_data[(pokemon_data["#"] > 251) & (pokemon_data["#"] < 387)]
    g4 = pokemon_data[(pokemon_data["#"] > 386) & (pokemon_data["#"] < 494)]
    g5 = pokemon_data[(pokemon_data["#"] > 493) & (pokemon_data["#"] < 650)]
    g6 = pokemon_data[(pokemon_data["#"] > 649) & (pokemon_data["#"] < 722)]
    g7 = pokemon_data[(pokemon_data["#"] > 721) & (pokemon_data["#"] < 810)]
    g8 = pokemon_data[(pokemon_data["#"] > 809) & (pokemon_data["#"] < 906)]
    g9 = pokemon_data[(pokemon_data["#"] > 905)]
    list = [g1,g2,g3,g4,g5,g6,g7,g8,g9]
    try:
        return list[n-1]
    except Exception as e:
        print("there are only 9 generation")